<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/blog/create">thêm mới</a>
<form action="/blog" method="get">
    <input name="name" th:value="${param.name}">
    <button type="submit">tìm kiếm</button>
</form>

<table>
    <tr>
        <th>ID</th>
        <th>Mã</th>
        <th>Tên Sách</th>
        <th>Thể Loại</th>
        <th>Số Lượng</th>
        <th>Tên Tác Giả</th>
        <th>Ngày Sinh</th>
    </tr>
    <tr th:each="blog:${getBlog.content}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.code}"></td>
        <td th:text="${blog.name}"></td>
        <td th:text="${blog.genre}"></td>
        <td th:text="${blog.quantity}"></td>
        <td th:text="${blog.idAuthor.nameAuthor}"></td>
        <td th:text="${blog.idAuthor.birthDate}"></td>
        <td><a th:href="@{/blog/update(id=${blog.id})}">chỉnh sửa</a></td>
    </tr>
</table>
<a th:if="${getBlog.hasPrevious()}" th:href="@{/blog(page=${getBlog.number -1},name=${name})}">Trước</a>
<span th:text="${getBlog.number +1}"></span>/<span th:text="${getBlog.totalPages}"></span>
<a th:if="${getBlog.hasNext()}" th:href="@{/blog(page=${getBlog.number +1},name=${name})}">Sau</a>
</body>
</html>